*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/tacchella/arduini/com/time_waiting_counter/MainActivity_BACKUP_4502.java
app/src/main/java/tacchella/arduini/com/time_waiting_counter/MainActivity_BASE_4502.java
app/src/main/java/tacchella/arduini/com/time_waiting_counter/MainActivity_LOCAL_4502.java
app/src/main/java/tacchella/arduini/com/time_waiting_counter/MainActivity_REMOTE_4502.java
